html {
  font-size: 62.5%;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
}

@font-face {
  font-family: "Roboto";
  src: url("./static/fonts/Roboto.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Sriracha";
  src: url("./static/fonts/Sriracha.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Simplifica";
  src: url("./static/fonts/Simplifica.ttf");
  font-display: swap;
}
